@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

@font-face {
    font-family: "Pokemon";
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg");
}

.header {
    text-align: center;
    background-color: whitesmoke;
    color: #ffde00;
    -webkit-text-stroke: 3px #3b4cca;
    font-size: 40px;
    border: 2px solid transparent;
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: -4px 4px 0px rgba(0, 0, 0, 1);
    font-family: "Pokemon";
    letter-spacing: 2px;
}
