@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

.card-height {
    height: 220px;
}

.mainInfo {
    text-align: left;
}

.card-custom {
    background-color: whitesmoke !important;
    height: 249px;
    margin: 2px;
    border: 2px solid transparent;
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.goldman-font {
    font-family: "Goldman", cursive;
}
body {
    background-color: #e8eaed;
}
.floatingText {
    background-color: white;
    border: 2px solid transparent;
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.mainSection {
    margin-top: 10px;
    text-align: center;
    background-color: whitesmoke;
    border: 2px solid transparent;
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.mainSection h1 {
    font-size: 2.9vw;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
    display: flex;
    justify-content: center;
    height: 100%;
    border: none !important;
}

.to-back {
    z-index: -1;
}
.btn-custom {
    max-height: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.btn-custom:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: whitesmoke;
}

.image-custom {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.border-bot {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
    border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.border-bot-active {
    border-bottom: none !important;
}

.footer-custom {
    background-color: whitesmoke;
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.2);
}

.banner-custom {
    background-color: #3b4ccad5 !important;
    color: whitesmoke;
}
