.list-group {
    max-height: 507px;
    margin-bottom: 10px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin: 2px;
}

.list-group-item.active {
    background-color: #6c757d73 !important;
    border-color: #6c757d !important;
}

.badge-primary {
    background-color: #3b4cca !important;
}

.custom-border {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}